In [1]:
#Import needed Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

%matplotlib inline

In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/Tanner/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
#Import all stats data sets and combine
path = './data' # use your path
files = glob.glob(path + "/df_2*.csv")

li = []

for i in files:
    dataframes = pd.read_csv(i, index_col=None, header=0)
    li.append(dataframes)

df = pd.concat(li, axis=0, ignore_index=True).drop('Unnamed: 0',axis=1)

In [3]:
df

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,AJ Hammons_2017,DAL,24,22,4,18,163,48,17,42,...,36,4,10,1,13,21,129.2,0,0,-5
1,Aaron Brooks_2017,IND,32,65,36,29,894,322,121,300,...,69,125,66,25,9,93,628.3,0,0,-32
2,Aaron Gordon_2017,ORL,21,80,29,51,2298,1019,393,865,...,405,150,89,65,40,172,1956.0,7,0,-163
3,Aaron Harrison_2017,CHA,22,5,2,3,17,1,0,4,...,3,3,0,0,0,2,9.1,0,0,-5
4,Adreian Payne_2017,MIN,26,18,5,13,135,63,23,54,...,33,7,8,8,7,32,150.1,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8939,Zach LaVine_2019,CHI,24,63,16,47,2171,1492,530,1135,...,294,283,215,60,26,140,2312.3,2,0,-301
8940,Zach Lofton_2019,DET,26,1,1,0,4,0,0,1,...,0,0,1,1,0,0,2.0,0,0,0
8941,Zaza Pachulia_2019,DET,35,68,35,33,878,267,85,193,...,265,91,57,31,17,151,808.5,0,0,-97
8942,Zhaire Smith_2019,PHI,20,6,2,4,111,40,14,34,...,13,10,6,2,2,8,76.6,0,0,14
8943,Zhou Qi_2019,HOU,23,1,0,1,1,2,1,1,...,0,0,0,0,0,0,2.0,0,0,-2

In [4]:
#Read in All-Star data
df_as = pd.read_csv('./data/df_as.csv', index_col=None, header=0)
df_as.head()

                  Player  All-Star
0     Anthony Davis_2019       1.0
1       Ben Simmons_2019       1.0
2     Blake Griffin_2019       1.0
3      Bradley Beal_2019       1.0
4  D'Angelo Russell_2019       1.0

In [5]:
#Shape
df_as.shape

(489, 2)

In [6]:
#Clean up column names
df_as.columns = ['PLAYER', 'All-Star']

In [7]:
#Merge together my two data sets
df = df.merge(df_as,how='outer', on='PLAYER')

In [8]:
#Remove all null values
df['All-Star'] = df['All-Star'].fillna(0)

In [9]:
#Review new dataframe
df.head()

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,All-Star
0,AJ Hammons_2017,DAL,24.0,22.0,4.0,18.0,163.0,48.0,17.0,42.0,...,4.0,10.0,1.0,13.0,21.0,129.2,0.0,0.0,-5.0,0.0
1,Aaron Brooks_2017,IND,32.0,65.0,36.0,29.0,894.0,322.0,121.0,300.0,...,125.0,66.0,25.0,9.0,93.0,628.3,0.0,0.0,-32.0,0.0
2,Aaron Gordon_2017,ORL,21.0,80.0,29.0,51.0,2298.0,1019.0,393.0,865.0,...,150.0,89.0,65.0,40.0,172.0,1956.0,7.0,0.0,-163.0,0.0
3,Aaron Harrison_2017,CHA,22.0,5.0,2.0,3.0,17.0,1.0,0.0,4.0,...,3.0,0.0,0.0,0.0,2.0,9.1,0.0,0.0,-5.0,0.0
4,Adreian Payne_2017,MIN,26.0,18.0,5.0,13.0,135.0,63.0,23.0,54.0,...,7.0,8.0,8.0,7.0,32.0,150.1,0.0,0.0,8.0,0.0

In [10]:
#Review full dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8946 entries, 0 to 8945
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PLAYER    8946 non-null   object
 1   TEAM      8944 non-null   object
 2   AGE       8944 non-null   float64
 3   GP        8944 non-null   float64
 4   W         8944 non-null   float64
 5   L         8944 non-null   float64
 6   MIN       8944 non-null   float64
 7   PTS       8944 non-null   float64
 8   FGM       8944 non-null   float64
 9   FGA       8944 non-null   float64
 10  FG%       8944 non-null   float64
 11  3PM       8944 non-null   float64
 12  3PA       8944 non-null   float64
 13  3P%       8944 non-null   float64
 14  FTM       8944 non-null   float64
 15  FTA       8944 non-null   float64
 16  FT%       8944 non-null   float64
 17  OREB      8944 non-null   float64
 18  DREB      8944 non-null   float64
 19  REB       8944 non-null   float64
 20  AST       8944 non-null   float64
 21  TOV       8944 non-null   float64
 22  STL       8944 non-null   float64
 23  BLK       8944 non-null   float64
 24  PF        8944 non-null   float64
 25  FP        8944 non-null   float64
 26  DD2       8944 non-null   float64
 27  TD3       8944 non-null   float64
 28  +/-       8944 non-null   float64
 29  All-Star  8946 non-null   float64
dtypes: float64(28), object(2)
memory usage: 2.1+ MB

In [13]:
#Review full dataframe
df.describe()

,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,...,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,All-Star,YEAR
count,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,...,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8944.000000,8946.000000,8946.000000
mean,27.086762,53.201476,26.562276,26.639199,1249.297853,515.023256,192.341123,424.875783,43.489926,36.394902,...,71.458408,39.229875,25.292487,108.614490,1069.454472,4.389758,0.107223,-0.338663,0.054773,2010.352001
std,4.331101,25.039838,15.989861,14.726364,902.780165,472.432489,173.004767,372.234153,9.715002,49.001703,...,62.598358,34.592530,33.784087,72.995092,894.817994,9.311111,0.939413,171.592900,0.227550,5.546133
min,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-2.000000,0.000000,0.000000,-684.000000,0.000000,2001.000000
25%,24.000000,33.000000,14.000000,15.000000,410.000000,123.000000,47.000000,112.000000,39.900000,0.000000,...,20.000000,11.000000,4.000000,44.000000,297.600000,0.000000,0.000000,-80.000000,0.000000,2006.000000
50%,26.000000,61.000000,26.000000,27.000000,1180.000000,398.500000,150.000000,339.000000,43.700000,12.000000,...,57.000000,32.000000,13.000000,107.000000,900.500000,0.000000,0.000000,-13.000000,0.000000,2011.000000
75%,30.000000,75.000000,39.000000,37.000000,1982.000000,782.000000,293.000000,647.000000,48.000000,60.000000,...,106.000000,59.000000,32.000000,164.000000,1635.675000,4.000000,0.000000,53.000000,0.000000,2015.000000
max,44.000000,85.000000,73.000000,71.000000,3484.000000,2832.000000,978.000000,2173.000000,100.000000,402.000000,...,464.000000,225.000000,307.000000,344.000000,4905.800000,71.000000,42.000000,1072.000000,1.000000,2019.000000

In [12]:
#Ceate a column for Year
df['YEAR'] = [int(i[-4:]) for i in df['PLAYER']]

In [14]:
#Save new DataFrame
df.to_csv('./data/df.csv',index=False)