In [3]:
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as soup 
import time

pd.set_option('display.max_columns', None)

In [457]:
url = 'https://stats.nba.com/players/traditional/?PerMode=Totals&sort=PLAYER_NAME&dir=-1&Season=2009-10&SeasonType=Regular%20Season'
res = requests.get(url)
res.status_code

200

In [458]:
d = webdriver.Chrome(executable_path='./chromedriver/chromedriver')
d.get(url)
time.sleep(2)
s = soup(d.page_source, "html.parser").find("table")
headers, [_, *data] = [i.text for i in s.find_all("th")], [[i.text for i in b.find_all("td")] for b in s.find_all("tr")]
final_data = [i for i in data if len(i) > 1]
count=0
while count <= 8:
    next_ = d.find_element_by_class_name("stats-table-pagination__next")
    next_.send_keys(Keys.RETURN)
    time.sleep(2)
    s = soup(d.page_source, "html.parser").find("table")
    headers, [_, *data] = [i.text for i in s.find_all("th")], [[i.text for i in b.find_all("td")] for b in s.find_all("tr")]
    final_data.extend([i for i in data if len(i) > 1])
    count+=1
d.close()

In [441]:
titles = [i.text for i in s.find_all('th')]

In [442]:
titles

['',
 'PLAYER',
 'TEAM',
 'AGE',
 'GP',
 'W',
 'L',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'PF',
 '\n            FP\n          ',
 'DD2',
 'TD3',
 '+/-',
 'GP RANK',
 'W RANK',
 'L RANK',
 'MIN RANK',
 'PTS RANK',
 'FGM RANK',
 'FGA RANK',
 'FG% RANK',
 '3PM RANK',
 '3PA RANK',
 '3P% RANK',
 'FTM RANK',
 'FTA RANK',
 'FT% RANK',
 'OREB RANK',
 'DREB RANK',
 'REB RANK',
 'AST RANK',
 'TOV RANK',
 'STL RANK',
 'BLK RANK',
 'PF RANK',
 'FP RANK',
 'DD2 RANK',
 'TD3 RANK',
 '+/- RANK']

In [443]:
titles = titles[:-26]

In [444]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [445]:
df = pd.DataFrame(final_data,columns=titles)

In [446]:
df.shape

(484, 30)

In [455]:
df[df['PLAYER'] == "Blake Griffin"]

Empty DataFrame
Columns: [, PLAYER, TEAM, AGE, GP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-]
Index: []

In [448]:
df.columns

Index(['', 'PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'PF', '\n            FP\n          ', 'DD2',
       'TD3', '+/-'],
      dtype='object')

In [449]:
df.columns = ['', 'PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP', 'DD2',
       'TD3', '+/-']

In [450]:
df['PLAYER'] = [i[1:-1] for i in df['PLAYER']]
df['TEAM'] = [i[1:-1] for i in df['TEAM']]
df['FGM'] = [i[1:-1] for i in df['FGM']]
df['FGA'] = [i[1:-1] for i in df['FGA']]
df['3PM'] = [i[1:-1] for i in df['3PM']]
df['3PA'] = [i[1:-1] for i in df['3PA']]
df['OREB'] = [i[1:-1] for i in df['OREB']]
df['DREB'] = [i[1:-1] for i in df['DREB']]
df['REB'] = [i[1:-1] for i in df['REB']]
df['AST'] = [i[1:-1] for i in df['AST']]
df['TOV'] = [i[1:-1] for i in df['TOV']]
df['STL'] = [i[1:-1] for i in df['STL']]
df['BLK'] = [i[1:-1] for i in df['BLK']]
df['PF'] = [i[1:-1] for i in df['PF']]
df['FP'] = [i[1:-11] for i in df['FP']]
df['PLAYER'] = [(i+'_2010') for i in df['PLAYER']]

In [451]:
df = df.drop_duplicates()

In [452]:
df.head()

,,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,,AJ Price_2010,IND,23,56,23,33,865,410,145,354,41.0,60,174,34.5,60,75,80.0,12,76,88,106,59,35,3,53,729.6,0,0,49
1,,Aaron Brooks_2010,HOU,25,82,42,40,2919,1604,575,1331,43.2,209,525,39.8,245,298,82.2,54,161,215,434,232,69,14,199,2530.0,6,0,-26
2,,Aaron Gray_2010,NOH,25,32,11,21,311,104,42,82,51.2,0,0,0.0,20,28,71.4,45,61,106,22,18,9,11,54,306.2,0,0,-13
3,,Acie Law_2010,CHI,25,26,11,15,234,113,35,75,46.7,5,16,31.3,38,49,77.6,3,14,17,26,17,11,1,16,191.4,0,0,20
4,,Adam Morrison_2010,LAL,25,31,23,8,241,74,32,85,37.6,5,21,23.8,5,8,62.5,10,22,32,18,10,3,2,17,144.4,0,0,-38

In [453]:
df_2010 = df

In [454]:
df_2010.to_csv('./data/df_2010.csv',index=False)

In [16]:
df_as = pd.read_excel('./data/NBA All Star Games.xlsx').dropna()

In [17]:
df_as.head()

                  Player       Player_name  _    Year  All-Star  Unnamed: 5
0     Anthony Davis_2019     Anthony Davis  _  2019.0       1.0      2011.0
1       Ben Simmons_2019       Ben Simmons  _  2019.0       1.0      2011.0
2     Blake Griffin_2019     Blake Griffin  _  2019.0       1.0      2011.0
3      Bradley Beal_2019      Bradley Beal  _  2019.0       1.0      2011.0
4  D'Angelo Russell_2019  D'Angelo Russell  _  2019.0       1.0      2011.0

In [18]:
df_as = df_as.drop(['Player_name','_','Year','Unnamed: 5'],axis = 1)

In [19]:
df_as.shape

(489, 2)

In [20]:
df_as.to_csv('./data/df_as.csv',index=False)